body {
    font-family: 'Roboto', sans-serif;
  }

/*Header styles*/

  #headerContainer {
    width: auto;
    height: 45px;
    background-color: #f6f1eb;
    padding: 10px;
    font-size: 14px;
  }

  #country {
    position: relative;
    float: left;
    width: 6%;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #707070;
  }

  #pin {
    position: relative;
    float: left;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  #language {
    position: relative;
    float: left;
    width: 6%;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #707070;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: #70707036 solid 1px;
  }

  #language select{
    border: none;
    background-color: #f6f1eb;
    color: #707070;
    font-family: 'Roboto', sans-serif;
    appearance: none;
    font-size: 14px;
    padding: 0px 10px;

  }

  #deliveryPromo {
    position: relative;
    float: left;
    width: 40%;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #0cbdd2;
  }
  /*Begining Search*/
  #browser {
    position: relative;
    float: left;
    width: 20%;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #707070;
  }

  .searchBar {
      border-color: #b3b0ad;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      height: 30px;
      background-color: #fbf8f5;
      padding: 5px;
  }

  .searchControl {
    position: relative;
    float: left;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    background-color: #fbf8f5;
    color: #707070;
    border-width: 0px;
    opacity: 60%;
  }

  .searchButton {
    position: absolute;
    margin-left: 85%;
    width: 10%;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #fbf8f5;
    color: #707070;
    border-width: 0px;
    padding: 0px 0px 0px 0px;
  }

  /*Ending Search*/

  #ownAccount {
    position: relative;
    float: left;
    width: 15%;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: right;
    flex-direction: column;
    color: #707070;
    padding-right: 10px;
  }

  #ownAccount a {
    text-decoration: none;
    color: #707070;
  }

  #store {
    position: relative;
    float: left;
    width: 5%;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #707070;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: #70707036 solid 1px;
  }

  #store a {
    text-decoration: none;
    color: #707070;
  }

  #bag {
    position: relative;
    float: left;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 5px;
  }
/*Finish Header's Styles*/

/*Menu Styles*/

  #mainMenu {
    position: sticky;
    top: 70px;
    float: left;
    width: 20%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: #70707036 solid 1px;
    
  }

  /*Logo´s Style*/
  .logo {
    height: 20%;
    width: auto;
    position: relative;
    top: 0px;
    padding: 15px;
    margin-bottom: auto;
  }

  /*Link´s Style*/
  .linksMenu {
    height: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 114px;
    font-size: 95%;
    
  }
  
  .boutique {
    height: 31%;
    border-top: #70707036 solid 1px;
    padding-top: 30px;
  }

  .blockTextMenu {
    height: 23%;
    width: auto;
    padding-left: 60px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  
  .blockTextMenu button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  

  .control--effects {
    color: #707070;
    text-align: left;
    font-weight: bold;
  }
  
  .blockTextMenu a {
    text-decoration: none;
    color: #707070;
    text-align: left;
    font-weight: bold;
  }

  .socialMedia {
    height: 10%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }

  .socialLogo {
    float: left;
    padding: 0px 4px 0px 4px;    
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
   }

/*Finish Menu Styles*/

/*                                 Index's Content Styles                                          */

  #indexContent {
    position: relative;
    width: 77%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
  }

  /*index´s header styles*/

  #headerIndex {
    width: 100%;
    height: 34px;
    padding: 10px;
  }

  #containerHeaderIndex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  
  .separadorH {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  #textHeaderIndex {
    float: left;
    width: 20%;
    height: 100%;
    font-size: 95%;
    font-weight: bold;
    color: #707070;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }


  .separadorH hr{
    size: 2px;
    width: 100%;
    color: #70707036;
  }

  
#mainBlock {
    width: 100%;
    height: 60%;
    padding: 10px;
}

  /*index´s slider styles*/

  .mainSlider {
    width: auto;
    height: 352px;
    overflow: hidden;
  }
  .sliderContainer {
    position: relative;
    width: 100%;
    display: flex;
  }

  .background {
    width: 100%;
  }

  /* Next & previous buttons */

  .prev, .next {
  cursor: progress;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }


  /* Position the "next button"*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a gray background color*/
  .prev:hover, .next:hover {
     background-color: #bbb;
  }

  /* Controls */
  .lowerControl {
    cursor: pointer;
  height: 3px;
  width: 70px;
  margin: 0 2px;
  background-color: #0cbdd2;
  display: inline-block;
  transition: background-color 0.6s ease;
  }

  .active, .lowerControl:hover {
  height: 7px;;
  }
  /*Finish index´s slider styles*/

  /*index´s sections styles*/

  #sectionsIndex {
    padding: 40px 0px 40px;
     }

  .mainSection {
    position: relative;
    border: #70707036 solid 2px;
    height: 200px;
    width: auto;
    float: left;
    width: 30%; 
    margin: 0px 15px;
    border-radius: 5px;
  }

  .mainSection img {
    width: 311px;
    height: 200px;
    border-radius: 5px;
  }

  .textSection {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 10px;
  }

  .textSection p {
    font-size: 20px;
    font-weight: bold;
  }
/*                                           Finish Index's Styles                            */

  /*Footer's Styles*/

  #footerContainer {
    width: auto;
    height: 50px;
    background-color: #f6f1eb;
    padding: 10px;
  }

  #rights {
    display: flex;
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 11px;
  }

  #documents {
    display: flex;
    width: 30%;
    height: 100%;
    float: left;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    font-size: 11px;
  }

  #documents a {
    text-decoration: none;
    color: #707070;
    text-align: left;
    font-weight: bold;
  }

/*                            Boutique's Styles                             */

/*Map Styles*/

#mainContent {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: row;
}


#map {
  float: left;
  height: 700px;
  width: 70%;
  border-radius: 5px;
}


#boutiques {
  width: 30%;
  height: auto;
  display: flex;
  text-align: left;
  justify-content: top;
  flex-direction: column;
  float: left;
  border: #70707036 solid 1px;
  margin-left: 10px;
  padding: 10px;
}

.item {
  padding: 10px;
  border-bottom: #70707036 solid 1px;
  height: 10%;
  width: auto;
}

.item a {
  text-decoration: none;
  color: #707070;
  text-align: left;
  font-weight: bold;
}

.item p {
  font-size: 14px;
  margin: 5px;
}

/*                           Finish Boutique's Styles                             */

/*                           Login and Registry Styles                            */

#containerLoginAndRegistry {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: row;
  float: left;
  width: auto;
  height: 700px;
  padding: 10px;
}

#login {
  float: left;
  width: 50%;
  height: 750px;
  border-bottom: #70707036 solid 1px;
}

#registry {
  float: left;
  width: 50%;
  height: 750px;
  border-bottom: #70707036 solid 1px;
}

.title {
  width: 100%;
  height: 30px;
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: row;
  font-size: 19px;
  margin-bottom: 20px;
}

.form {
  padding: 20px 50px;
}

.form input {
  width: 96%;
  height: 20px;
  border-color: #70707036;
  
}

.form button {
  margin-top: 10px; 
  background-color: #0cbed2; 
  height: 30px; 
  width: 150px; 
  border-radius: 5px;
  border: black  1px;
  font-weight: bold;
  color: #585757;
}

.wrong {
  border: 1px solid red;
}
